src/main/resources/base.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:base" targetNamespace="urn:base"
            attributeFormDefault="unqualified" elementFormDefault="unqualified">
  <xsd:element abstract="true" name="mybase" type="base:BaseType"/>
  <xsd:complexType abstract="true" name="BaseType">
      <xsd:sequence>
          <xsd:element name="foo" type="xsd:string"/>
      </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListOfSomethingType">
      <xsd:sequence>
          <xsd:element maxOccurs="unbounded" ref="base:mybase"/>
      </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
